<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{@pageTitle}}</title>
    <base href="{{@BASE}}/public/">
    <link rel="stylesheet" href="styles/style.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="row">
  <div class="navbar col-lg-2 col-md-3 col-sm-4">
      <ul>
        <li><a href="{{ @BASE }}{{ 'account' | alias }}">Home</a>
        <li><a href="{{ @BASE }}{{ 'account' | alias }}">Account</a>
        <li><a href="{{ @BASE }}{{ 'contact' | alias }}">Contact</a>
      </ul>
      <div id="accountNav">
        <a class="signup-btn" href="{{ @BASE }}{{ 'signup'| alias}}">Sign up</a>
        <a class="signup-btn" href="{{ @BASE }}{{ 'login'| alias}}">Login</a> 
      </div>
  </div>

