<include href="includes/header.html"></include>

    <div class="content col-5">
        <h2>CONTACT US</h2>
        <hr class="custom-hr">
        <h3>OUR TEAM</h3>
        <p>Amine Mankai | Kirill Knyazev | Konstantin Khorev</p>
        <p>A passionate team of full-stack developers who aim to make your task management as smooth as possible.</p>
        <hr class="custom-hr">
    
        <h3>SPECIAL FEATURES</h3>
        <p>We created two additional features that:
            <ul>
                <li>Filter the tasks by importance, category, or due date</li>
                <li>Color in red any incomplete task two days before the due date</li>
            </ul>
        </p>
        <div>
            <img src="../public/images/special_features.png" alt="feature" class="special_features">
        </div>
        <hr class="custom-hr">
    </div>

<include href="includes/footer.html"></include>