<include href="includes/header.html"></include>
    <div class="content col-5 p-4">
        <h2>WELCOME</h2>
        <hr class="custom-hr">
        <ul class="features-list">
            <li>Manage Tasks</li>
            <li>Complete Deadlines</li>
            <li>Free to use</li>
        </ul>
        <hr class="custom-hr">
        <h2>MAIN FEATURES</h2>
        <ul class="features-list">
            <li>Task categorization</li>
            <li>Deadline reminders</li>
            <li>Intuitive interface</li>
        </ul>
        <hr class="custom-hr">
        <h2>GET STARTED</h2>
        <button class="signup-btn">Sign Up</button>
    </div>


    <include href="includes/footer.html">